body{
  background-color: black;
  user-select: none;
}

#clock{
  border: 2px solid rgb(128, 128, 128);
  border-radius: 10px;
  width: 520px;
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translate(-50%,-50%);
}

#hour{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 100px;
  text-align: center;
  color: rgb(0, 255, 106); 
}

#date{
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  position: relative;
  left: 41.7%;
  bottom: 30px;
  color: rgb(134, 134, 134);
}

#am-pm{
 font-size: 30px;
 margin-left: 5px;
}

/*HD+ (1600×900)*/
@media only screen and (min-width: 1600px) {
  #clock{
    width: 600px;
    border: 2.5px solid rgb(128, 128, 128);
    border-radius: 16px;
  }
  
  #hour{
     font-size: 116px;  
  }

  #date{
    font-size: 21px;
    bottom: 41.67px;
  }

  #am-pm{
    font-size: 50px;
    margin-left: 8.33px;
   }

}

/*Full HD (1920x1080)*/
@media only screen and (min-width: 1920px) {
  #clock{
    width: 720px;
    border: 3px solid rgb(128, 128, 128);
    border-radius: 20px;
  }
  
  #hour{
     font-size: 140px;  
  }

  #date{
    font-size: 26px;
    bottom: 50px;
  }

  #am-pm{
    font-size: 60px;
    margin-left: 10px;
   }

}
/*1440p (2560x1440)*/
@media only screen and (min-width: 2560px) {
  #clock{
    width: 960px;
    border: 4px solid rgb(128, 128, 128);
    border-radius: 20px;
  }
  
  #hour{
     font-size: 186px;  
  }

  #date{
    font-size: 34px;
    bottom: 66px;
  }

  #am-pm{
    font-size: 80px;
    margin-left: 10px;
   }

}


/*4K (3840x2160)*/
@media only screen and (min-width: 3840px) {
  #clock{
    width: 1440px;
    border: 5px solid rgb(128, 128, 128);
    border-radius: 30px;
  }
  
  #hour{
     font-size: 280px;  
  }

  #date{
    font-size: 52px;
    bottom: 100px;
  }

  #am-pm{
    font-size: 120px;
    margin-left: 15px;
   }

}

/*5K (5120x2880)*/
@media only screen and (min-width: 5120px) {
  #clock{
    width: 1920px;
    border: 6px solid rgb(128, 128, 128);
    border-radius: 40px;
  }
  
  #hour{
     font-size: 373px;  
  }

  #date{
    font-size: 69px;
    bottom: 133px;
  }

  #am-pm{
    font-size: 160px;
    margin-left: 20px;
   }

}

/*8K (7680x4320)*/
@media only screen and (min-width: 7680pxs) {
  #clock{
    width: 2880px;
    border: 10px solid rgb(128, 128, 128);
    border-radius: 60px;
  }
  
  #hour{
     font-size: 560px;  
  }

  #date{
    font-size: 104px;
    bottom: 200px;
  }

  #am-pm{
    font-size: 240px;
    margin-left: 30px;
   }

}

/*16K (15360×8640)*/
@media only screen and (min-width: 15360px) {
  #clock{
    width: 5760px;
    border: 20px solid rgb(128, 128, 128);
    border-radius: 120px;
  }
  
  #hour{
     font-size: 1120px;  
  }

  #date{
    font-size: 208px;
    bottom: 400px;
  }

  #am-pm{
    font-size: 480px;
    margin-left: 60px;
   }

}